<nav>
    <ul>
        <li>
            <a href="/users/new">Sign Up</a>
        </li>
        <li>
            <a href="/users/signin">Login</a>
        </li>
        <!-- <li>
            <a href=""></a>
        </li> -->
    </ul>
</nav>